.Cardborder {
  background-color: rgb(51, 52, 53);
  margin: 20px;
  border-radius: 15px;
  box-shadow: 8px 8px 8px rgba(74, 75, 75, 0.5);
  overflow: hidden;
}

.title {
  color: #646cff;
}
.text {
  color: rgba(239, 236, 236, 0.5);
}

.Cardborder:hover {
  box-shadow: 8px 8px 4px rgba(74, 75, 75, 0.5);
  transform: scale(1.02);
  transition-duration: 0.5s;
}
